__pycache__/
*.pyc
out/
build/
# makepkg leftovers
/stoke/src/
/stoke/pkg/
/stoke-qt/src/
/stoke-qt/pkg/
/stoke-gtk/src/
/stoke-gtk/pkg/
*.pkg.tar.zst
dist/
/packaging/appimage/AppDir/
/packaging/appimage/appimage-build/
*.AppImage
/tests/usb/out2/
/.flatpak-builder/
